@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

.navbar-brand {
  font-family: "Comfortaa", cursive;
  display: flex;
}

.navbar-brand > h2 {
  margin-left: 4px;
}
